<!-- Path: ScareScreen/frontend/src/app/dashboard/dashboard.component.html -->
<h1></h1>
<hr>
<h3>Videos</h3>
<hr>
<div class="grid grid-pad">
  <div *ngFor="let movie of movies" class="col-2-4">
    <div class="module video">
      <!-- Clickable image leading to the trailer -->
      <a href="{{movie.trailer_url}}" target="_blank">
        <!-- Image of the trailer -->
        <img src="{{movie.poster_url}}" alt="Trailer for {{movie.title}}" style="width:100%;display:block;">
        <!-- Title of the movie -->
        <h3>{{ movie.title }}</h3>
      </a>
    </div>
  </div>
</div>
